.cruise-map__marker_type_ship {
	fill: var(--cruise-map__marker_color);
	stroke: var(--cruise-map__marker_color);
	transform:
		translateY(calc(var(--cruise-map__marker_intersection-index, 0) * 12px))
		rotate(var(--cruise-map__marker_angle, 0deg));
}

@keyframes highlight {
	from {
		filter: brightness(125%);
	}
	to {
		filter: brightness(75%);
	}
}

body:not(.stops-page) .cruise-map__marker.cruise-map__marker_type_place {
	--zoom-factor: clamp(0, var(--map-zoom) - 6, 4);
	width: calc((var(--zoom-factor) * var(--zoom-factor) + 2 * var(--zoom-factor)) / 3 * 7.5% + 40%);
	height: calc((var(--zoom-factor) * var(--zoom-factor) + 2 * var(--zoom-factor)) / 3 * 7.5% + 40%);
}

.map.zoomed-out div.cruise-map__marker .collapsible,
.map:not(.zoomed-out) div.cruise-map__marker .placeholder-icon {
	display: none;
}

.cruise-map__marker_type_ship.active {
	animation: 0.5s ease-in-out infinite alternate highlight;
}

.cruise-map__icon {
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
}

.cruise-map__icon_type_showplace,
.cruise-map__icon_type_stop {
	fill: var(--cruise-map__popup_company-color);
}

.cruise-map__icon_type_ship {
	fill: var(--theme-background);
	stroke: var(--cruise-map__popup_company-color);
}

.cruise-map__ship-name:before {
	content: "“";
}
.cruise-map__ship-name:after {
	content: "”";
}
